$colorFondo:rgb(15, 14, 12);
$colorTexto: black;
@mixin sucursalesitem {
    min-height: 196px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color:white;
    }