* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	font-family: 'Oswald', sans-serif;
}
@import 'vars';

#grid-container {
	display: grid;
	grid-template-rows: 4.5rem 10.5rem 8.5rem 92rem auto;
	grid-template-areas: "header" "carrousel" "horarios" "contenido" "footer";
}
.header {
	grid-area: header;
}
.lachoppera {
	background-color: #dbca34;
	.lacho {
		color: black;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.nave {
		display: flex;
		.navegacion {
			font-size: 20px;
			color: black;
			text-align: right;
			&:hover{
				color:orangered;
				text-decoration: overline;
			}
		}
	}
}
.carousel {
	margin-bottom: 1rem;
	margin-top: 2rem;
	grid-area: carrousel;
}
body {
	background-color: rgb(15, 14, 12);
	color: #a8a8a8;
}
#horarios {
	grid-area: horarios;
	.titulo {
		padding: 3px;
		text-align: center;
		font-size: 27px;
	}
	.tabla {
		margin: auto;
		border: 1.5px solid #a8a8a8;
		letter-spacing: 0,5px;
		margin-top: 1px;
		margin-bottom: 20px;
		border-collapse: none;
	}
	.titulos {
		font-size: 11px;
		padding: 4px;
		text-align: center;
	}
	td {
		font-size: 9px;
		padding: 1px;
		text-align: center;
	}
}
.container-marketing {
	grid-area: contenido;
}
.featurette-divider {
	margin: 2rem 0;
}
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
	text-align: center;
}
.lead{
	text-align: center;
}
.lugar {
	img {
		display: flex;
		width: 300px;
		height: auto;
		margin: auto;

	}
}
.lugares {
	img {
		display: flex;
		width: 300px;
		height: auto;
		margin: auto;
	}
}
footer {
	margin-bottom: 0px;
	grid-area: footer;
	margin-top: 10px;
	.footerA { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: center;
	margin-bottom: 0.5rem;
		.logofooter {
		width: 60px;
		height: auto;
		padding-bottom: 1px;
		}
		.redes {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
			gap: 40px;
		}
		.redes img{
			height: 20px;
			text-decoration: none;
			margin-top: 20px;
			margin-bottom: 9px;
		}
	}
	.footerB { 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		padding-left: 0px;
		& a {
			text-decoration: none;
			color: $colorTexto2;
			padding-top: 1px;
		}
	}
}
#footercopyright p {
		font-size: 0.6rem;
		margin-top: 10px;
		text-align: center;
	}

/* pag sucursales */
.bannersucursales{
	background-image: url(../img/pizarra.jpg);
	@include banner;
}
#locales {
	.ubication img{
		@include iconopaginas;
	}
	h1 {
		font-size: 37px;
		text-align: center;
		margin-top: -10px;
		margin-bottom: -55px;
	}
}
.sucursales{
	.sucursalesCard {
			border: 1px solid #a8a8a8;
			border-radius: 100px 15px 100px;
			overflow: hidden;
			margin: 0px;
			transition: .5s;
		&::before {
			position: absolute;
			transition: .5s;
			}
		&::after {
			position: absolute;
			transition: .5s;
		}
		&:hover {
		transform: scale(1.05);
		}
		.sucursales__items1 {
			background: url(../img/tipos.jpg) no-repeat;
			@include sucursalesitem;
			}
			&:hover {
				filter:grayscale(1);
			}
		.sucursales__items2 {
			background: url(../img/palermo.jpg) no-repeat;
			@include sucursalesitem;	
		}
		.sucursales__items3 {
			background: url(../img/puertomadero.jpg) no-repeat;
			@include sucursalesitem;	
		}
		.sitio {
			font-size: 35px;
			font-weight: 1500;
		}
		.direccion {
			margin-bottom: 2.5rem;
			margin-top: 2.5rem;
		h2 {
			text-align: center;
		}
		}
	}
}
#ubicaciones {
	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-top: -37px;
	}
	iframe {
		margin: 5px;
		width: 90px;
		height: 85px;
	}
}
/* pag menu */
.bannermenu{
	background-image: url(../img/promocomida.jpg);
	@include banner;
}
#comida {
	.ubication img{
		@include iconopaginas;
	}
	h1 {
		font-size: 37px;
		text-align: center;
		margin-top: -10px;
		margin-bottom: -62px;
	}
}
.menu{
	margin-top: 2rem;
	.menuCard {
			border: 1px solid #a8a8a8;
			border-radius: 100px 15px 15px 15px;
			overflow: hidden;
			margin: 0px;
			transition: .5s;
			margin-bottom: 2.5rem;
		&::before {
			position: absolute;
			transition: .5s;
			}
		&::after {
			position: absolute;
			transition: .5s;
		}
		&:hover {
			transform: scale(1.05);
			filter:grayscale(1);
		}
		.menu__items1 {
			background: url(../img/hamburguesa.jpg) no-repeat;
			@include menuitem;
			}
		.menu__items2 {
			background: url(../img/papas-fritas-periplo.jpg) no-repeat;
			@include menuitem;	
		}
		.menu__items3 {
			background: url(../img/picadas.jpg) no-repeat;
			@include menuitem;
		}
		.menu__items4 {
			background: url(../img/mixbaston.jpg) no-repeat;
			@include menuitem;
		}
		.menu__items5 {
			background: url(../img/bebidas.jfif) no-repeat;
			@include menuitem; 
		}
			.boton {
				display: flex;
				background-color: #dbca34;
				text-decoration: none;
				border-radius: 5px;
				font-size: 21px;
				color: black;
				padding: 5px;
				justify-content: center;
				margin-bottom: 5px;
			}
		h2 {
			text-align: center;
		}
	}
}

/* pag bebidas */
.bannerbebidas{
	background-image: url(../img/vaasocerveza.jpg);
	@include banner;
}
#bebidas {
	.ubication img{
		@include iconopaginas;
	}
	h1 {
		font-size: 37px;
		text-align: center;
		margin-top: -10px;
		margin-bottom: -51px;
	}
}
.cervezas{
	margin-top: 2rem;
	.cervezasCard {
			border: 1px solid #a8a8a8;
			border-radius: 15px 100px 15px 15px;
			overflow: hidden;
			margin: 0px;
			transition: .5s;
			margin-bottom: 2.5rem;
		&::before {
			position: absolute;
			transition: .5s;
			}
		&::after {
			position: absolute;
			transition: .5s;
		}
		&:hover {
			transform: scale(1.05);
			filter:grayscale(1);
		}
		.cervezas__items1 {
			background: url(../img/rubio.jpg) no-repeat;
			@include cervezaitem;
			}
		.cervezas__items2 {
			background: url(../img/red.jpg) no-repeat;
			@include cervezaitem;	
		}
		.cervezas__items3 {
			background: url(../img/negra.jpg) no-repeat;
			@include cervezaitem;
		}
		.cervezas__items4 {
			background: url(../img/mixbirra.jpg) no-repeat;
			background-position: right;
			@include cervezaitem;
		}
		h2 {
			text-align: center;
		}
	}
}
/* pag contacto */
#formulario {
	.titulos {
		text-align: center;
		margin-top: 50px;
	}
	div {
		h2 {
			font-size: 27px;
			padding-bottom: 7px;
		}
		h3 {
			font-size: 22px;
			padding-bottom: 12px;
			margin-top: 20px;
		}
	}
}
#contenidoformulario {
	width: 283px;
	height: 854px;
	margin: 33px auto;
	border-radius: 30px;
	padding-top: 40px;
	padding-left: 44px;
	padding-right: 36px;
	background-image: url(../img/unnamed.jpg);
	background-size: cover;
	background-position: center;
	color: black;
	text-shadow: black;
	font-size: 23px;
	text-align: left;
	font-weight: bold;
	input {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		height: 35px;
		border-radius: 10px;
		border-width: 1px;
		padding-left: 10px;
		margin-bottom: 12px;
		display: block;
		font-size: 20px;
		text-align: center;
	}
	textarea {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		border-radius: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 26px;
		font-size: 20px;
		display: block;
		text-align: center;
	}
	label {
		display: inline;
		text-align: left;
		padding-right: 10px;
	}
	select {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		height: 35px;
		border-radius: 10px;
		margin-top: 17px;
		padding-left: 10px;
		margin-bottom: 5px;
		font-size: 17px;
		text-align: center;
		display: inline-block;
		cursor: pointer;
	}
	#checkbox {
		width: 35px;
		margin-left: 167px;
		margin-top: -52px;
	}
	p {
		margin-bottom: 0px;
		margin-top: 36px;
		font-weight: bold;
	}
}
.botones {
	button {
		width: 200px;
		height: 39px;
		padding-left: 13px;
		margin-bottom: 12px;
		margin-left: 5px;
		margin-top: 39px;
	}
}
.contenidomodal {
	background-color: rgb(214, 149, 28);
	.titulo {
		font-size: 30px;
		font-weight: bold;
	}
	.cuerpo {
		font-size: 25px;
		text-align: center;
	}
}
.final {
	img {
		width: 304px;
		display: flex;
		margin: auto;
		margin-bottom: 72px;
	}
}
/* RESPONSIVE CSS */
@media (min-width: 375px) {
	#grid-container {
		grid-template-rows: 4.5rem 12rem 8.5rem 86.5rem auto;
	}
	/* pag-sucursales */
	.sucursales .sucursalesCard .direccion {
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
	}
	#ubicaciones {
		div {
			margin-top: -36px;
			margin-bottom: -7px;
		}
		iframe {
			width: 108px;
			height: 92px;
		}
	}
	/* pag-menu */
	.menu{
		.menuCard{
			.menu__items1, .menu__items2, .menu__items3, .menu__items4, .menu__items5 {
				min-height: 106px;
			}
		}
	}
	/* pag-bebidas */
	.cervezas{
		.cervezasCard{
			.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
				min-height: 174px;
			}
		}
	}
	/* pag-contacto */
	.final img{
			margin-bottom: 32px;
	}
}
@media (min-width: 425px) {
	#grid-container {
		grid-template-rows: 4.5rem 13rem 8.5rem 87rem auto;
	}
		/* pag-menu */
		.menu{
			.menuCard{
				.menu__items1, .menu__items2, .menu__items3, .menu__items4, .menu__items5 {
					min-height: 112px;
				}
			}
		}
		/* pag-bebidas */
		.cervezas{
			.cervezasCard{
				.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
					min-height: 182px;
				}
			}
		}
}
@media (min-width: 728px) {
	#grid-container {
		grid-template-rows: 5.8rem 25rem 13.5rem 62.7rem auto;
	}
	/* index-navegacion */
	.lachoppera {
		.lacho {
			font-size: 45px;
		}
		.nave {
			text-align: right;
			margin: auto;
			.solo {
				font-size: 26px;
				}
			.navegacion {
				font-size: 26px;
				}
		}
	}
	.navbar-light {
		.navbar-nav {
			.nav-link.active {
				color: black;
			}
		}
	}
	/* carrousel */
	.carousel {
		margin-top: 5rem;
	}
	/* horarios */
	#horarios {
		.titulo {
			text-align: center;
			font-size: 49px;
			margin: 20px;
		}
		.titulos {
			font-size: 23px;
		}
		td {
			font-size: 20px;
			padding: 1px 10px;
			text-align: center;
		}
	}
	.featurette-heading {
		font-size: 50px;
		text-align: left;
	}
	.lead{
		text-align: left;
		font-size: 1.25rem;
	}
	.lugar {
		img {
			width: 290px;
			height: 270px;
			padding-right: 30px;
		}
	}
	.lugares {
		img {
			width: 290px;
			height: 270px;
			padding-right: 30px;
		}
	}
	footer {
		margin-top: 10px;
		.footerA { 
			width: 70px;
			.logofooter {
			margin-top: 25px;
			}
			.redes {
				gap: 13px;
			}
		}
		.linea {
			border-right:  1px solid #6c757d;
			height: 6rem;
		}
		.footerB { 
			margin-top: 18px;
		}
		.footerC {
			margin-bottom: 0px;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: nowrap;
		}
	}
	#footercopyright p{
		font-size: 0.6rem;
		margin-top: 10px;
		text-align: center;
	}
	
	/* sucursales-pag */
		#locales {
			.ubication img{
				width: 6rem;
			}
			h1 {
				font-size: 47px;
			}
		}
		.sucursales{
			.sucursalesCard{
				.sucursales__items1, .sucursales__items2, .sucursales__items3 {
					min-height: 225px;
				}
			  	.direccion {
				text-align: left;
				margin-top: 3.5rem;
				}
			}
			}
		#ubicaciones {
			div {
				margin-top: -24px;
				margin-bottom: 14px;
			}
			iframe {
				width: 183px;
				height: 123px;
			}
		}
	/* menu-pag */
	#comida {
		.ubication img{
			width: 6rem;
		}
		h1 {
			font-size: 47px;
		}
	}
	.menu{
		.menuCard{
			.menu__items1, .menu__items2, .menu__items3, .menu__items4, .menu__items5{
				min-height: 142px;
			}
			  .alimento {
			text-align: left;
			margin-top: 1.5rem;
			}
		}
		}
	/* bebidas -pag */
	#bebidas {
		.ubication img{
			width: 6rem;
		}
		h1 {
			font-size: 47px;
		}
	}	
	.cervezas{
		.cervezasCard{
			.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
				min-height: 202px;
			}
			.birra {
				text-align: center;
				margin-top: 2.5rem;
			}
		}
	}
	/* contacto-pag */
	#formulario {
		.titulos {
			margin-top: -34px;
		}
		div {
			h2 {
				font-size: 49px;
				margin-bottom: 0px;
			}
			h3 {
				font-size: 32px;
				padding-bottom: 0px;
				margin-top: 0px;
			}
		}
	}
	#contenidoformulario {
		width: 410px;
		height: 728px;
		margin: 17px auto;
		padding-top: 15px;
		font-size: 29px;
		input {
			width: 290px;
			height: 43px;
			padding-left: 3px;
			margin-bottom: 5px;
		}
		textarea {
			width: 290px;
			font-size: 20px;
		}
		label {
			padding-right: 34px;
		}
		select {
			width: 183px;
			height: 45px;
		}
		p {
			margin-bottom: -22px;
		}
		#checkbox {
			margin-left: 286px;
			margin-top: -42px;
		}
		.oracion {
			margin-top: 0px;
			display: inline-block;
		}
	}
	.botones {
		button {
			width: 290px;
			height: 40px;
			padding-left: 14px;
			margin-top: 17px;
			margin-left: 25px;
		}
	}
	.final {
		img {
			width: 113px;
			margin-bottom: 11px;
			margin-top: 0px;
		}
	}
}
@media (min-width: 1024px) {
	#grid-container {
		grid-template-rows: 6.8rem 32rem 14.2rem 63.5rem auto;
	}
	.lachoppera {
		.lacho {
			font-size: 55px;
		}
		.nave {
			padding-left: 27rem;
			.solo {
				font-size: 30px;
			}
			.navegacion {
			font-size: 30px;
			}
		}
	}
	/* horarios */
	#horarios {
		.titulo {
			font-size: 49px;
			margin: 20px;
		}
		.titulos {
			font-size: 33px;
		}
		td {
			font-size: 23px;
			}
	}
	.lead{
		font-size: 1.7rem;
	}
	footer {
		.footerA { 
			.logofooter {
			margin-top: 25px;
			width: 80px;
			}
			.redes {
				gap: 17px;
			}
			.redes img {
				height: 27px;
			}
	
		}
		.footerB { 
			margin-top: 18px;
			font-size: 18px;
		}
	}

		/* sucursales-pag */
		#locales {
			.ubication img{
				width: 10rem;
			}
			h1 {
				font-size: 55px;
			}
		}
		.sucursales{
			.sucursalesCard{
				.sitio {
					font-size: 45px;
				}
				.sucursales__items1, .sucursales__items2, .sucursales__items3 {
					min-height: 208px;
				}
				.direccion {
				margin-top: 3.5rem;
				font-size: 35px;
				}
			}
			}
		#ubicaciones {
			iframe {
				width: 420px;
				height: 106px;
			}
		}
		/* menu-pag */
		#comida {
			.ubication img{
				width: 9rem;
			}
			h1 {
				font-size: 55px;
			}
		}
		.menu{
			.menuCard{
				.menu__items1, .menu__items2, .menu__items3, .menu__items4, .menu__items5 {
					min-height: 136px;
				}
				.alimento {
				margin-top: 0.5rem;
				font-size: 35px;
				}
			}
			}
		/* bebidas-pag */
			.cervezas{
				.cervezasCard{
					.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
						min-height: 207px;
					}
				}
			}
		/* contactos-pag */
			.final {
				img {
					width: 121px;
					margin-bottom: 15px;
					margin-top: 0px;
				}
			}
}
@media (min-width: 1440px) {
	#grid-container {
		grid-template-rows: 7rem 42.3rem 15rem 63.5rem auto;
	} 
}
