* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	font-family: 'Oswald', sans-serif;
}
#grid-container {
	display: grid;
	grid-template-rows: 4.5rem 10rem 9rem 92.5rem 7rem;
	grid-template-areas: "header" "carrousel" "horarios" "contenido" "footer";
}
.header {
	grid-area: header;
}
.lachoppera {
	background-color: #dbca34;
	.lacho {
		color: black;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.nave {
		display: flex;
		.navegacion {
			font-size: 20px;
			color: black;
			text-align: right;
			&:hover{
				color:orangered;
				text-decoration: overline;
			}
		}
		.solo {
			font-size: 20px;
			color: black;
			text-align: right;
			&:hover{
				color:orangered;
				text-decoration: overline;
			}
		}
	}
}
.carousel {
	margin-bottom: 1rem;
	margin-top: 2rem;
	grid-area: carrousel;
}
body {
	background-color: rgb(15, 14, 12);
	color: #a8a8a8;
}
#horarios {
	grid-area: horarios;
	.titulo {
		padding: 3px;
		text-align: center;
		font-size: 27px;
	}
	.tabla {
		margin: auto;
		border: 1.5px solid #a8a8a8;
		letter-spacing: 0,5px;
		margin-top: 1px;
		margin-bottom: 20px;
		border-collapse: none;
	}
	.titulos {
		font-size: 11px;
		padding: 4px;
		text-align: center;
	}
	td {
		font-size: 9px;
		padding: 1px;
		text-align: center;
	}
}
.container-marketing {
	grid-area: contenido;
}
.featurette-divider {
	margin: 2rem 0;
}
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
	text-align: center;
}
.lead{
	text-align: center;
}
.lugar {
	img {
		display: flex;
		width: 300px;
		height: auto;
		margin: auto;

	}
}
.lugares {
	img {
		display: flex;
		width: 300px;
		height: auto;
		margin: auto;
	}
}
footer {
	text-align: center;
	grid-area: footer;
	img {
		width: 60px;
		height: auto;
		padding-bottom: 5px;
	}
}
/* pag sucursales */
#locales {
	.ubication img{
		margin-top: -4rem;
		width: 4rem;
		height: auto;
	}
	h1 {
		font-size: 37px;
		text-align: center;
		margin-top: -10px;
		margin-bottom: -55px;
	}
}
.sucursales{
	.sucursalesCard{
			border: 1px solid #a8a8a8;
			border-radius: 0.25rem;
			overflow: hidden;
			margin: 0px;
	}
		.sucursales__items1 {
			min-height: 196px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			background: url(../img/tipos.jpg) no-repeat;
			background-size: cover;
			background-position: center;
			color:white;
		.sitio {
			font-size: 35px;
			font-weight: 1500;
		.ubicaciones {
			min-height: 196px;
			}
		}
	}
}
/* #locales { 
	p {
		text-align: center;
		font-size: 20px;
		padding: 15px;
		margin-bottom: 5px;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	img {
		height: 150px;
		width: 230px;
		margin: 4px;
	}
}
#ubicaciones {
	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 20px;
		background-image: linear-gradient(to left, #dbca34, rgb(15, 14, 12));
	}
	iframe {
		margin: 5px;
		width: 132px;
		height: 99px;
		border: 2.5px dashed rgb(15, 14, 12);
	}
} */
/* pag menu */
.card {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.card-body {
	background-color: rgb(15, 14, 12);
}
#fondomenu {
	background-image: url(../img/hamburguesa.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	div {
		margin-top: 60px;
		display: flex;
		justify-content: center;
		margin-bottom: 60px;
	}
	img {
		width: 265px;
		height: 600px;
	}
}
.imagenesmenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: 285px;
		height: 141px;
		margin-bottom: 20px;
		margin-top: 30px;
	}
}
/* pag bebidas */
#bebidas {
	background-image: url(../img/bannerbis.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	h2 {
		font-size: 29px;
		text-align: center;
		text-decoration: underline;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	img {
		height: 296px;
		width: auto;
		margin: 15px;
		border: solid 2px #a8a8a8;
		border-radius: 10px;
	}
}
#botones {
	display: flex;
	justify-content: center;
}
.colapse {
	background-color: tomato;
	color: black;
	font-size: 27px;
}
.botonescuerpo {
	color: #a8a8a8;
	font-size: 25px;
	width: 300px;
}
#imagenbebida {
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 20px;
	}
	img {
		height: 113px;
		width: 182px;
		margin: 7px;
	}
}
/* pag contacto */
#formulario {
	.titulos {
		text-align: center;
		margin-top: 50px;
	}
	div {
		h2 {
			font-size: 27px;
			padding-bottom: 7px;
		}
		h3 {
			font-size: 22px;
			padding-bottom: 12px;
			margin-top: 20px;
		}
	}
}
#contenidoformulario {
	width: 283px;
	height: 854px;
	margin: 33px auto;
	border-radius: 30px;
	padding-top: 40px;
	padding-left: 44px;
	padding-right: 36px;
	background-image: url(../img/unnamed.jpg);
	background-size: cover;
	background-position: center;
	color: black;
	text-shadow: black;
	font-size: 23px;
	text-align: left;
	font-weight: bold;
	input {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		height: 35px;
		border-radius: 10px;
		border-width: 1px;
		padding-left: 10px;
		margin-bottom: 12px;
		display: block;
		font-size: 20px;
		text-align: center;
	}
	textarea {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		border-radius: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 26px;
		font-size: 20px;
		display: block;
		text-align: center;
	}
	label {
		display: inline;
		text-align: left;
		padding-right: 10px;
	}
	select {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		height: 35px;
		border-radius: 10px;
		margin-top: 17px;
		padding-left: 10px;
		margin-bottom: 5px;
		font-size: 17px;
		text-align: center;
		display: inline-block;
		cursor: pointer;
	}
	#checkbox {
		width: 35px;
		margin-left: 167px;
		margin-top: -52px;
	}
	p {
		margin-bottom: 0px;
		margin-top: 36px;
		font-weight: bold;
	}
}
.botones {
	button {
		width: 90px;
		height: 39px;
		padding-left: 13px;
		margin-bottom: 12px;
		margin-left: 7px;
		margin-top: 39px;
	}
}
.contenidomodal {
	background-color: rgb(214, 149, 28);
	.titulo {
		font-size: 30px;
		font-weight: bold;
	}
	.cuerpo {
		font-size: 25px;
		text-align: center;
	}
}
.final {
	img {
		width: 300px;
		display: flex;
		margin: auto;
		margin-bottom: 40px;
	}
}

/* RESPONSIVE CSS */
@media (min-width: 375px) {
#grid-container {
	grid-template-rows: 4.5rem 12rem 9rem 86.5rem 6rem;
	}
}
@media (min-width: 425px) {
	#grid-container {
		grid-template-rows: 4.5rem 13rem 9rem 87rem 6rem;
	}
}
@media (min-width: 728px) {
	#grid-container {
		grid-template-rows: 6rem 25rem 13rem 63rem 5rem;
	}
	/* index-navegacion */
	.lachoppera {
		.lacho {
			font-size: 45px;
		}
		.nave {
			text-align: right;
			margin: auto;
			.solo {
				font-size: 26px;
				}
			.navegacion {
				font-size: 26px;
				}
		}
	}
	.navbar-light {
		.navbar-nav {
			.nav-link.active {
				color: black;
			}
		}
	}
	/* carrousel */
	.carousel {
		margin-top: 5rem;
	}
	/* horarios */
	#horarios {
		.titulo {
			text-align: center;
			font-size: 49px;
			margin: 20px;
		}
		.titulos {
			font-size: 23px;
		}
		td {
			font-size: 20px;
			padding: 1px 10px;
			text-align: center;
		}
	}
	.featurette-heading {
		font-size: 50px;
		text-align: left;
	}
	.lead{
		text-align: left;
		font-size: 1.25rem;
	}
	.lugar {
		img {
			width: 290px;
			height: 270px;
			padding-right: 30px;
		}
	}
	.lugares {
		img {
			width: 290px;
			height: 270px;
			padding-right: 30px;
		}
	}
	footer {
		display: flex; 
		align-items: flex-end; 
		text-align: center; 
		justify-content: space-evenly; 
		grid-area: footer;
		img {
			margin-left: -157px;
			margin-top: 13px;
		}
		p {
			margin-top: -39px;
		}
	}
	/* sucursales-pag */
	/* 	h1 {
			font-size: 27px;
			text-align: center;
			margin-top: -10px;
		} */
	#locales {
		.ubication img{
			margin-top: -3rem;
			width: 7rem;
			flex-direction: column;
		}
		h1 {
			font-size: 47px;
			margin-top: -59px;
			margin-bottom: 15px;
		}
		p {
			font-size: 35px;
		}
		div {
			gap: 61px;
		}
		img {
			height: 146px;
			width: 279px;
		}
	}
	#ubicaciones {
		h2 {
			font-size: 30px;
			margin-bottom: 10px;
		}
		h4 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		iframe {
			margin: 10px;
			width: 231px;
			height: 131px;
		}
	}
	/* menu-pag */
	.card {
		margin-top: 1px;
		margin-bottom: 0px;
	}
	#fondomenu {
		img {
			width: 265px;
			height: 600px;
			width: 500px;
			height: 457px;
		}
		div {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}
	.imagenesmenu {
		flex-direction: row;
		justify-content: center;
		gap: 35px;
		img {
			margin-bottom: 10px;
			margin-top: 5px;
		}
	}
	/* bebidas -pag */
	#bebidas {
		background-position: left;
		h2 {
			font-size: 49px;
			margin-top: 0px;
		}
		div {
			flex-direction: row;
			justify-content: space-around;
			margin: 40px;
		}
		img {
			height: 401px;
			width: 277px;
			margin-top: 5px;
		}
	}
	.colapse {
		font-size: 27px;
	}
	.botonescuerpo {
		color: #a8a8a8;
		font-size: 35px;
		width: auto;
		margin-bottom: 0px;
	}
	#imagenbebida {
		div {
			flex-direction: row;
			margin-top: 1px;
		}
		img {
			height: 113px;
			width: 182px;
			margin: 7px;
		}
	}
	/* contacto-pag */
	#formulario {
		.titulos {
			margin-top: -34px;
		}
		div {
			h2 {
				font-size: 49px;
				margin-bottom: 0px;
			}
			h3 {
				font-size: 32px;
				padding-bottom: 0px;
				margin-top: 0px;
			}
		}
	}
	#contenidoformulario {
		width: 410px;
		height: 728px;
		margin: 17px auto;
		padding-top: 15px;
		font-size: 29px;
		input {
			width: 290px;
			height: 43px;
			padding-left: 3px;
			margin-bottom: 5px;
		}
		textarea {
			width: 290px;
			font-size: 20px;
		}
		label {
			padding-right: 34px;
		}
		select {
			width: 183px;
			height: 45px;
		}
		p {
			margin-bottom: -22px;
		}
		#checkbox {
			margin-left: 286px;
			margin-top: -42px;
		}
		.oracion {
			margin-top: 0px;
			display: inline-block;
		}
	}
	.botones {
		button {
			width: 114px;
			height: 40px;
			padding-left: 14px;
			margin-top: 17px;
			margin-left: 25px;
		}
	}
	.final {
		img {
			width: 217px;
			margin-bottom: 21px;
			margin-top: 0px;
		}
	}
}
@media (min-width: 1024px) {
	#grid-container {
		grid-template-rows: 6rem 32rem 13rem 63rem 6rem;
	}
	.lachoppera {
		.lacho {
			font-size: 55px;
		}
		.nave {
			padding-left: 10rem;
			.solo {
				font-size: 30px;
			}
			.navegacion {
			font-size: 30px;
			}
		}
	}
	/* horarios */
	#horarios {
		.titulo {
			font-size: 49px;
			margin: 20px;
		}
		.titulos {
			font-size: 33px;
		}
		td {
			font-size: 23px;
			}
	}
	.lead{
		font-size: 1.7rem;
	}
	footer{
		img{
			margin-left: -277px;
		}
	}
}
@media (min-width: 1440px) {
	#grid-container {
		grid-template-rows: 6rem 43rem 17rem 76rem 6rem;
	}
	/* index-navegacion */
	.lachoppera {
		.lacho {
			font-size: 65px;
		}
		.nave {
			padding-left: 20rem;
			.solo {
				font-size: 37px;
			}
			.navegacion {
			font-size: 37px;
			}
		}
	}
	/* horarios */
	#horarios {
		.titulo {
			font-size: 57px;
			margin: 30px;
		}
		.titulos {
			font-size: 43px;
		}
		td {
			font-size: 31px;
			padding: 10px 20px;
			text-align: center;
		}
	}
	.featurette-heading {
		margin-top: 4.5rem;
	}
	.lead{
		font-size: 2rem;
	}
	.lugar {
		img {
			width: 500px;
			height: 307px;
		}
	}
	.lugares {
		img {
			width: 500px;
			height: 307px;
		}
	}
	footer {
		img {
			width: 80px;
			margin-left: -440px;
		}
	}
	/* sucursales-pag */
	#locales {
		.ubication img{
			margin-top: -2rem;
			width: 9rem;
		}
		h1 {
			font-size: 59px;
		}
		img {
			height: 168px;
			width: 375px;
		}
		div {
			justify-content: space-evenly;
		}
	}
	#ubicaciones {
		h3 {
			font-size: 25px;
			margin-right: 30px;
		}
	}
	/* menu-pag */
	#fondomenu {
		img {
			width: 600px;
			height: 564px;
		}
	}
	#bebidas {
		background-position: top-left;
		img {
			height: 446px;
			width: 381px;
		}
	}
	#imagenbebida {
		img {
			margin: 20px;
			height: 136px;
			width: 235px;
		}
	}
	/* contactos-pag */
	.final {
		img {
			width: 251px;
			margin-bottom: 21px;
			margin-top: 0px;
		}
	}
}