* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Oswald', sans-serif;
}

#grid-container {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4.5rem 8.5rem 10.5rem 90.3rem auto;
      grid-template-rows: 4.5rem 8.5rem 10.5rem 90.3rem auto;
      grid-template-areas: "header"  "banner"  "encabezado"  "contenido"  "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.lachoppera {
  margin-top: 0px;
  background-color: #dbca34;
}

.lachoppera .lacho {
  color: black;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.lachoppera .botellas {
  background-image: url(../img/iconomenu2.png);
}

.lachoppera .nave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.lachoppera .nave .navegacion {
  font-size: 20px;
  color: black;
  text-align: right;
}

.lachoppera .nave .navegacion:hover {
  color: orangered;
  text-decoration: overline;
}

.carrousel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner;
  margin-bottom: 1rem;
  min-height: 100%;
  margin-top: 4rem;
  background-size: cover;
}

body {
  background-color: #0f0e0c;
  color: #a8a8a8;
}

#horarios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: encabezado;
}

#horarios .titulo {
  padding: 3px;
  text-align: center;
  font-size: 27px;
}

#horarios .tabla {
  margin: auto;
  border: 1.5px solid #a8a8a8;
  letter-spacing: 0,5px;
  margin-top: 1px;
  margin-bottom: 20px;
  border-collapse: none;
}

#horarios .titulos {
  font-size: 11px;
  padding: 4px;
  text-align: center;
}

#horarios td {
  font-size: 9px;
  padding: 1px;
  text-align: center;
}

.container-marketing {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contenido;
}

.featurette-divider {
  margin: 2rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  text-align: center;
}

.lead {
  text-align: center;
}

.lugar:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.lugar::before {
  -webkit-transition: .5s;
  transition: .5s;
}

.lugar::after {
  -webkit-transition: .5s;
  transition: .5s;
}

.lugar img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: auto;
  margin: auto;
}

.lugares:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.lugares::before {
  -webkit-transition: .5s;
  transition: .5s;
}

.lugares::after {
  -webkit-transition: .5s;
  transition: .5s;
}

.lugares img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: auto;
  margin: auto;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
  margin-bottom: 0px;
  margin-top: 10px;
}

footer .footerA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  margin-bottom: 0.5rem;
}

footer .footerA .logofooter {
  width: 60px;
  height: auto;
  padding-bottom: 1px;
}

footer .footerA .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 40px;
}

footer .footerA .redes img {
  height: 20px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 9px;
}

footer .footerB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 0px;
}

footer .footerB a {
  text-decoration: none;
  color: #a8a8a8;
  padding-top: 1px;
}

footer .footerB a:hover {
  color: tomato;
}

#footercopyright p {
  font-size: 0.6rem;
  margin-top: 10px;
  text-align: center;
}

/* pag-sucursales */
.bannersucursales {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner;
  background-image: url(../img/pizarra.jpg);
  background-size: cover;
  min-height: 100%;
  margin-top: 0px;
  background-position: center;
}

#locales {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: encabezado;
}

#locales .ubication img {
  margin-top: -4rem;
  width: 4rem;
  height: auto;
}

#locales h1 {
  text-align: center;
  margin-top: -10px;
  font-size: 37px;
  margin-bottom: -55px;
}

.sucursales {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contenido;
}

.sucursales .sucursalesCard {
  border: 1px solid #a8a8a8;
  border-radius: 100px 15px 100px;
  overflow: hidden;
  margin: 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

.sucursales .sucursalesCard::before {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.sucursales .sucursalesCard::after {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.sucursales .sucursalesCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sucursales .sucursalesCard .sucursales__items1 {
  background: url(../img/tipos.jpg) no-repeat;
  min-height: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.sucursales .sucursalesCard:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.sucursales .sucursalesCard .sucursales__items2 {
  background: url(../img/palermo.jpg) no-repeat;
  min-height: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.sucursales .sucursalesCard .sucursales__items3 {
  background: url(../img/puertomadero.jpg) no-repeat;
  min-height: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.sucursales .sucursalesCard .sitio {
  font-size: 35px;
  font-weight: 1500;
}

.sucursales .sucursalesCard .direccion {
  margin-bottom: 2.1rem;
  margin-top: 2.5rem;
}

.sucursales .sucursalesCard .direccion h2 {
  text-align: center;
}

#ubicaciones div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -37px;
}

#ubicaciones iframe {
  margin: 5px;
  width: 90px;
  height: 71px;
}

/* pag-menu */
.bannermenu {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner;
  background-image: url(../img/promocomida.jpg);
  background-size: cover;
  min-height: 100%;
  margin-top: 0px;
}

#comida {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: encabezado;
}

#comida .ubication img {
  margin-top: -4rem;
  width: 4rem;
  height: auto;
}

#comida h1 {
  text-align: center;
  margin-top: -10px;
  font-size: 37px;
  margin-bottom: -62px;
}

.menu {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contenido;
  margin-top: 1.9rem;
}

.menu .menuCard {
  border: 1px solid #a8a8a8;
  border-radius: 100px 15px 15px 15px;
  overflow: hidden;
  margin: 0px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-bottom: 2.5rem;
}

.menu .menuCard::before {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu .menuCard::after {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu .menuCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.menu .menuCard .menu__items1 {
  background: url(../img/hamburguesa.jpg) no-repeat;
  min-height: 121px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .menu__items2 {
  background: url(../img/papas-fritas-periplo.jpg) no-repeat;
  min-height: 121px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .menu__items3 {
  background: url(../img/picadas.jpg) no-repeat;
  min-height: 121px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .menu__items4 {
  background: url(../img/mixbaston.jpg) no-repeat;
  min-height: 121px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .menu__items5 {
  background: url(../img/bebidas.jfif) no-repeat;
  min-height: 121px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dbca34;
  text-decoration: none;
  border-radius: 5px;
  font-size: 21px;
  color: black;
  padding: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.menu .menuCard h2 {
  text-align: center;
}

/* pag-cervezas */
.bannerbebidas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner;
  background-image: url(../img/vaasocerveza.jpg);
  background-size: cover;
  min-height: 100%;
  margin-top: 0px;
}

#bebidas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: encabezado;
}

#bebidas .ubication img {
  margin-top: -4rem;
  width: 4rem;
  height: auto;
}

#bebidas h1 {
  text-align: center;
  margin-top: -10px;
  font-size: 37px;
  margin-bottom: -51px;
}

.cervezas {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contenido;
  margin-top: 2rem;
}

.cervezas .cervezasCard {
  border: 1px solid #a8a8a8;
  border-radius: 15px 100px 15px 15px;
  overflow: hidden;
  margin: 0px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-bottom: 1.78rem;
}

.cervezas .cervezasCard::before {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.cervezas .cervezasCard::after {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.cervezas .cervezasCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.cervezas .cervezasCard .cervezas__items1 {
  background: url(../img/rubio.jpg) no-repeat;
  min-height: 203px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.cervezas .cervezasCard .cervezas__items2 {
  background: url(../img/red.jpg) no-repeat;
  min-height: 203px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.cervezas .cervezasCard .cervezas__items3 {
  background: url(../img/negra.jpg) no-repeat;
  min-height: 203px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.cervezas .cervezasCard .cervezas__items4 {
  background: url(../img/shots.jpg) no-repeat;
  background-position: right;
  min-height: 203px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.cervezas .cervezasCard h2 {
  text-align: center;
}

/* pag-contacto*/
#grid-container2 {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4.5rem 10.5rem 10.5rem 64.1rem auto;
      grid-template-rows: 4.5rem 10.5rem 10.5rem 64.1rem auto;
      grid-template-areas: "header"  "banner"  "encabezado"  "contenido"  "footer";
}

.bannercontactos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner;
  background-image: url(../img/viva.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100%;
  margin-top: 0px;
}

#formcont {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: encabezado;
}

#formcont .ubication img {
  margin-top: -4rem;
  width: 4rem;
  height: auto;
}

#formcont h1 {
  text-align: center;
  margin-top: -10px;
  font-size: 34px;
  margin-bottom: -62px;
}

.titulos {
  text-align: center;
  margin-top: 48px;
}

.titulos h2 {
  font-size: 22px;
  padding-bottom: 12px;
}

#contenidoformulario {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contenido;
  width: 283px;
  height: 854px;
  margin: 33px auto;
  border-radius: 30px;
  padding-top: 40px;
  padding-left: 44px;
  padding-right: 36px;
  background-image: url(../img/unnamed.jpg);
  background-size: cover;
  background-position: center;
  color: black;
  text-shadow: black;
  font-size: 23px;
  text-align: left;
  font-weight: bold;
}

#contenidoformulario input {
  background-color: #0f0e0c;
  color: #a8a8a8;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border-width: 1px;
  padding-left: 10px;
  margin-bottom: 12px;
  display: block;
  font-size: 20px;
  text-align: center;
}

#contenidoformulario textarea {
  background-color: #0f0e0c;
  color: #a8a8a8;
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 26px;
  font-size: 20px;
  display: block;
  text-align: center;
}

#contenidoformulario label {
  display: inline;
  text-align: left;
  padding-right: 10px;
}

#contenidoformulario select {
  background-color: #0f0e0c;
  color: #a8a8a8;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  margin-top: 17px;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

#contenidoformulario #checkbox {
  width: 35px;
  margin-left: 167px;
  margin-top: -52px;
}

#contenidoformulario p {
  margin-bottom: 0px;
  margin-top: 36px;
  font-weight: bold;
}

.botones button {
  width: 200px;
  height: 39px;
  padding-left: 13px;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-top: 39px;
  background-color: whitesmoke;
  border: 2px solid #0f0e0c;
}

.contenidomodal {
  background-color: #d6951c;
}

.contenidomodal .titulo {
  font-size: 30px;
  font-weight: bold;
}

.contenidomodal .cuerpo {
  font-size: 25px;
  text-align: center;
}

/* RESPONSIVE CSS */
@media (min-width: 375px) {
  #grid-container {
    -ms-grid-rows: 4.5rem 9.8rem 10.5rem 83.3rem auto;
        grid-template-rows: 4.5rem 9.8rem 10.5rem 83.3rem auto;
  }
  /* pag-sucursales */
  .sucursales .sucursalesCard .direccion {
    margin-bottom: 0.5rem;
    margin-top: 1.4rem;
  }
  #ubicaciones div {
    margin-top: -36px;
    margin-bottom: -7px;
  }
  #ubicaciones iframe {
    width: 108px;
    height: 92px;
  }
  /* pag-menu */
  .menu .menuCard .menu__items1, .menu .menuCard .menu__items2, .menu .menuCard .menu__items3, .menu .menuCard .menu__items4, .menu .menuCard .menu__items5 {
    min-height: 115px;
  }
  /* pag-cervezas */
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 181px;
  }
}

@media (min-width: 425px) {
  #grid-container {
    -ms-grid-rows: 4.5rem 11rem 11.5rem 83.5rem auto;
        grid-template-rows: 4.5rem 11rem 11.5rem 83.5rem auto;
  }
  /* pag-index */
  #horarios .titulo {
    font-size: 30px;
  }
  #horarios .titulos {
    font-size: 15px;
  }
  #horarios td {
    font-size: 12px;
  }
  /* pag-sucursales */
  #locales h1 {
    font-size: 50px;
  }
  #ubicaciones iframe {
    height: 93px;
  }
  /* pag-menu */
  #comida h1 {
    font-size: 50px;
  }
  .menu .menuCard .menu__items1, .menu .menuCard .menu__items2, .menu .menuCard .menu__items3, .menu .menuCard .menu__items4, .menu .menuCard .menu__items5 {
    min-height: 121px;
  }
  /* pag-cervezas */
  #bebidas h1 {
    font-size: 50px;
  }
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 188px;
  }
  /* pag-contactos */
  #formcont h1 {
    font-size: 39px;
  }
  .titulos h2 {
    font-size: 25px;
    padding: 12px;
  }
  #contenidoformulario {
    height: 835px;
  }
}

@media (min-width: 537px) {
  #grid-container {
    -ms-grid-rows: 4.5rem 11rem 10.1rem 86rem auto;
        grid-template-rows: 4.5rem 11rem 10.1rem 86rem auto;
  }
  footer {
    margin-top: 10px;
  }
  footer .footerA {
    width: 70px;
  }
  footer .footerA .logofooter {
    width: 70px;
    margin-top: 18px;
  }
  footer .footerA .redes {
    gap: 23px;
  }
  footer .linea {
    border-right: 1px solid #6c757d;
    height: 6rem;
  }
  footer .footerB {
    margin-top: 18px;
  }
  footer .footerC {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #footercopyright p {
    font-size: 0.6rem;
    margin-top: 10px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  #grid-container {
    -ms-grid-rows: 5.8rem 20rem 13.5rem 62.7rem auto;
        grid-template-rows: 5.8rem 20rem 13.5rem 62.7rem auto;
  }
  /* index-navegacion */
  .lachoppera .links {
    padding-right: 0px;
  }
  .lachoppera .lacho {
    font-size: 45px;
  }
  .lachoppera .link {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .lachoppera .nave .navegacion {
    font-size: 26px;
    padding: 7px;
  }
  /* horarios */
  #horarios .titulo {
    text-align: center;
    font-size: 49px;
    margin: 20px;
  }
  #horarios .titulos {
    font-size: 23px;
  }
  #horarios td {
    font-size: 20px;
    padding: 1px 10px;
    text-align: center;
  }
  .featurette-heading {
    font-size: 50px;
    text-align: left;
  }
  .lead {
    text-align: left;
    font-size: 1.25rem;
  }
  .lugar img {
    width: 290px;
    height: 270px;
    padding-right: 30px;
  }
  .lugares img {
    width: 290px;
    height: 270px;
    padding-right: 30px;
  }
  /* pag-sucursales */
  #locales .ubication img {
    width: 6rem;
  }
  #locales h1 {
    font-size: 47px;
  }
  .sucursales .sucursalesCard .sucursales__items1, .sucursales .sucursalesCard .sucursales__items2, .sucursales .sucursalesCard .sucursales__items3 {
    min-height: 225px;
  }
  .sucursales .sucursalesCard .direccion {
    text-align: left;
    margin-top: 3.5rem;
  }
  #ubicaciones div {
    margin-top: -24px;
    margin-bottom: 14px;
  }
  #ubicaciones iframe {
    width: 216px;
    height: 134px;
  }
  /* pag-menu */
  #comida .ubication img {
    width: 6rem;
  }
  #comida h1 {
    font-size: 47px;
  }
  .menu .menuCard h2 {
    padding: 2px;
    padding-bottom: 11px;
  }
  .menu .menuCard .alimento {
    text-align: left;
    margin-top: 1.5rem;
  }
  /* pag-cervezas */
  .bannerbebidas {
    background-position: right;
  }
  #bebidas .ubication img {
    width: 6rem;
  }
  #bebidas h1 {
    font-size: 47px;
  }
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 213px;
  }
  .cervezas .cervezasCard .birra {
    text-align: center;
    margin-top: 2.5rem;
  }
  /* pag-contacto */
  #grid-container2 {
    -ms-grid-rows: 5.8rem 20rem 13.5rem 52.1rem auto;
        grid-template-rows: 5.8rem 20rem 13.5rem 52.1rem auto;
  }
  #formcont h1 {
    font-size: 47px;
  }
  .titulos h2 {
    font-size: 30px;
  }
  #formulario .titulos {
    margin-top: -34px;
  }
  #formulario div h2 {
    font-size: 49px;
    margin-bottom: 0px;
  }
  #formulario div h3 {
    font-size: 32px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  #contenidoformulario {
    width: 410px;
    height: 739px;
    margin: 17px auto;
    padding-top: 25px;
    font-size: 29px;
  }
  #contenidoformulario input {
    width: 316px;
    height: 43px;
    padding-left: 3px;
  }
  #contenidoformulario textarea {
    width: 316px;
    font-size: 20px;
  }
  #contenidoformulario label {
    padding-right: 34px;
  }
  #contenidoformulario select {
    width: 205px;
    height: 45px;
  }
  #contenidoformulario p {
    margin-bottom: -22px;
  }
  #contenidoformulario #checkbox {
    margin-left: 286px;
    margin-top: -42px;
  }
  #contenidoformulario .oracion {
    margin-top: -22px;
    display: inline-block;
  }
  .botones button {
    width: 290px;
    height: 40px;
    padding-left: 14px;
    margin-top: 17px;
    margin-left: 25px;
  }
  .final img {
    width: 113px;
    margin-bottom: 11px;
    margin-top: 0px;
  }
}

@media (min-width: 977px) {
  #grid-container {
    -ms-grid-rows: 5.8rem 20rem 13.5rem 66.3rem auto;
        grid-template-rows: 5.8rem 20rem 13.5rem 66.3rem auto;
  }
  /* pag-sucursales */
  .sucursales .sucursalesCard .sucursales__items1, .sucursales .sucursalesCard .sucursales__items2, .sucursales .sucursalesCard .sucursales__items3 {
    min-height: 244px;
  }
  /* pag-cervezas */
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 227px;
  }
}

@media (min-width: 992px) {
  #grid-container {
    -ms-grid-rows: 5.8rem 20rem 13.5rem 62.3rem auto;
        grid-template-rows: 5.8rem 20rem 13.5rem 62.3rem auto;
  }
  /* pag-sucursales*/
  .sucursales .sucursalesCard .sucursales__items1, .sucursales .sucursalesCard .sucursales__items2, .sucursales .sucursalesCard .sucursales__items3 {
    min-height: 223px;
  }
  /* pag-cervezas */
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 211px;
  }
}

@media (min-width: 1024px) {
  #grid-container {
    -ms-grid-rows: 6.3rem 27rem 18.2rem 58.9rem auto;
        grid-template-rows: 6.3rem 27rem 18.2rem 58.9rem auto;
  }
  .lachoppera .lacho {
    font-size: 50px;
  }
  .lachoppera .nave .navegacion {
    font-size: 30px;
  }
  /* horarios */
  #horarios .titulo {
    font-size: 52px;
    margin-bottom: 43px;
  }
  #horarios .titulos {
    font-size: 29px;
  }
  #horarios td {
    font-size: 27px;
    padding: 1px 10px;
  }
  .lead {
    font-size: 1.7rem;
  }
  .lugar img {
    padding-right: 0px;
  }
  footer {
    margin-top: 10px;
  }
  footer .footerA .redes {
    gap: 23px;
    height: 37px;
  }
  footer .linea {
    border-right: 1px solid #6c757d;
    height: 6rem;
  }
  footer .footerB {
    margin-top: 18px;
    font-size: 18px;
  }
  /* pag-sucursales */
  #locales .ubication img {
    width: 8rem;
  }
  #locales h1 {
    font-size: 55px;
  }
  .sucursales .sucursalesCard .sitio {
    font-size: 45px;
  }
  .sucursales .sucursalesCard .sucursales__items1, .sucursales .sucursalesCard .sucursales__items2, .sucursales .sucursalesCard .sucursales__items3 {
    min-height: 222px;
  }
  .sucursales .sucursalesCard .direccion {
    margin-top: 3.5rem;
    font-size: 35px;
  }
  #ubicaciones iframe {
    width: 312px;
    height: 116px;
  }
  /* pag-menu */
  #comida .ubication img {
    width: 8rem;
  }
  #comida h1 {
    font-size: 55px;
    margin-bottom: -30px;
  }
  .menu .menuCard .menu__items1, .menu .menuCard .menu__items2, .menu .menuCard .menu__items3, .menu .menuCard .menu__items4, .menu .menuCard .menu__items5 {
    min-height: 136px;
  }
  .menu .menuCard .alimento {
    margin-top: 0.5rem;
    font-size: 30px;
  }
  /* pag-cervezas */
  #bebidas .ubication img {
    width: 8rem;
  }
  #bebidas h1 {
    font-size: 55px;
    margin-bottom: -30px;
  }
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 201px;
  }
  /* pag-contactos */
  #grid-container2 {
    -ms-grid-rows: 6.3rem 27rem 18.2rem 52.1rem auto;
        grid-template-rows: 6.3rem 27rem 18.2rem 52.1rem auto;
  }
  #formcont .ubication img {
    width: 8rem;
  }
  #formcont h1 {
    font-size: 55px;
    margin-bottom: -71px;
  }
  .titulos h2 {
    font-size: 40px;
  }
  .botones button {
    margin-left: 12px;
  }
}

@media (min-width: 1366px) {
  #grid-container {
    -ms-grid-rows: 6.3rem 35.3rem 16rem 61.5rem auto;
        grid-template-rows: 6.3rem 35.3rem 16rem 61.5rem auto;
  }
  /* pag-sucursales */
  .sucursales .sucursalesCard .sucursales__items1, .sucursales .sucursalesCard .sucursales__items2, .sucursales .sucursalesCard .sucursales__items3 {
    min-height: 225px;
  }
  /* pag-menu */
  .menu .menuCard .menu__items1, .menu .menuCard .menu__items2, .menu .menuCard .menu__items3, .menu .menuCard .menu__items4, .menu .menuCard .menu__items5 {
    min-height: 134px;
  }
  /* pag-cervezas */
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 203px;
  }
  /* pag-contactos */
  #grid-container2 {
    -ms-grid-rows: 6.3rem 27rem 18.2rem 54.1rem auto;
        grid-template-rows: 6.3rem 27rem 18.2rem 54.1rem auto;
  }
  #contenidoformulario {
    height: 744px;
    margin-bottom: 41px;
  }
}

@media (min-width: 1440px) {
  #grid-container {
    -ms-grid-rows: 6.3rem 37.3rem 18rem 59.5rem auto;
        grid-template-rows: 6.3rem 37.3rem 18rem 59.5rem auto;
  }
}
/*# sourceMappingURL=styles.css.map */