* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Oswald', sans-serif;
}

#grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4.5rem 10.5rem 8.5rem 92rem auto;
      grid-template-rows: 4.5rem 10.5rem 8.5rem 92rem auto;
      grid-template-areas: "header" "carrousel" "horarios" "contenido" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.lachoppera {
  background-color: #dbca34;
}

.lachoppera .lacho {
  color: black;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.lachoppera .nave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lachoppera .nave .navegacion {
  font-size: 20px;
  color: black;
  text-align: right;
}

.lachoppera .nave .navegacion:hover {
  color: orangered;
  text-decoration: overline;
}

.carousel {
  margin-bottom: 1rem;
  margin-top: 2rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: carrousel;
}

body {
  background-color: #0f0e0c;
  color: #a8a8a8;
}

#horarios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: horarios;
}

#horarios .titulo {
  padding: 3px;
  text-align: center;
  font-size: 27px;
}

#horarios .tabla {
  margin: auto;
  border: 1.5px solid #a8a8a8;
  letter-spacing: 0,5px;
  margin-top: 1px;
  margin-bottom: 20px;
  border-collapse: none;
}

#horarios .titulos {
  font-size: 11px;
  padding: 4px;
  text-align: center;
}

#horarios td {
  font-size: 9px;
  padding: 1px;
  text-align: center;
}

.container-marketing {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contenido;
}

.featurette-divider {
  margin: 2rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  text-align: center;
}

.lead {
  text-align: center;
}

.lugar img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: auto;
  margin: auto;
}

.lugares img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: auto;
  margin: auto;
}

footer {
  margin-bottom: 0px;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
  margin-top: 10px;
}

footer .footerA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
  margin-bottom: 0.5rem;
}

footer .footerA .logofooter {
  width: 60px;
  height: auto;
  padding-bottom: 1px;
}

footer .footerA .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 40px;
}

footer .footerA .redes img {
  height: 20px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 9px;
}

footer .footerB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 0px;
}

footer .footerB a {
  text-decoration: none;
  color: #a8a8a8;
  padding-top: 1px;
}

#footercopyright p {
  font-size: 0.6rem;
  margin-top: 10px;
  text-align: center;
}

/* pag sucursales */
.bannersucursales {
  background-image: url(../img/pizarra.jpg);
  background-size: cover;
  min-height: 100%;
}

#locales .ubication img {
  margin-top: -4rem;
  width: 4rem;
  height: auto;
}

#locales h1 {
  font-size: 37px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: -55px;
}

.sucursales .sucursalesCard {
  border: 1px solid #a8a8a8;
  border-radius: 100px 15px 100px;
  overflow: hidden;
  margin: 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

.sucursales .sucursalesCard::before {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.sucursales .sucursalesCard::after {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.sucursales .sucursalesCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sucursales .sucursalesCard .sucursales__items1 {
  background: url(../img/tipos.jpg) no-repeat;
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.sucursales .sucursalesCard:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.sucursales .sucursalesCard .sucursales__items2 {
  background: url(../img/palermo.jpg) no-repeat;
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.sucursales .sucursalesCard .sucursales__items3 {
  background: url(../img/puertomadero.jpg) no-repeat;
  min-height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.sucursales .sucursalesCard .sitio {
  font-size: 35px;
  font-weight: 1500;
}

.sucursales .sucursalesCard .direccion {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.sucursales .sucursalesCard .direccion h2 {
  text-align: center;
}

#ubicaciones div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -37px;
}

#ubicaciones iframe {
  margin: 5px;
  width: 90px;
  height: 85px;
}

/* pag menu */
.bannermenu {
  background-image: url(../img/promocomida.jpg);
  background-size: cover;
  min-height: 100%;
}

#comida .ubication img {
  margin-top: -4rem;
  width: 4rem;
  height: auto;
}

#comida h1 {
  font-size: 37px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: -62px;
}

.menu {
  margin-top: 2rem;
}

.menu .menuCard {
  border: 1px solid #a8a8a8;
  border-radius: 100px 15px 15px 15px;
  overflow: hidden;
  margin: 0px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-bottom: 2.5rem;
}

.menu .menuCard::before {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu .menuCard::after {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu .menuCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.menu .menuCard .menu__items1 {
  background: url(../img/hamburguesa.jpg) no-repeat;
  min-height: 120px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .menu__items2 {
  background: url(../img/papas-fritas-periplo.jpg) no-repeat;
  min-height: 120px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .menu__items3 {
  background: url(../img/picadas.jpg) no-repeat;
  min-height: 120px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .menu__items4 {
  background: url(../img/mixbaston.jpg) no-repeat;
  min-height: 120px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .menu__items5 {
  background: url(../img/bebidas.jfif) no-repeat;
  min-height: 120px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.menu .menuCard .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dbca34;
  text-decoration: none;
  border-radius: 5px;
  font-size: 21px;
  color: black;
  padding: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.menu .menuCard h2 {
  text-align: center;
}

/* pag bebidas */
.bannerbebidas {
  background-image: url(../img/vaasocerveza.jpg);
  background-size: cover;
  min-height: 100%;
}

#bebidas .ubication img {
  margin-top: -4rem;
  width: 4rem;
  height: auto;
}

#bebidas h1 {
  font-size: 37px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: -51px;
}

.cervezas {
  margin-top: 2rem;
}

.cervezas .cervezasCard {
  border: 1px solid #a8a8a8;
  border-radius: 15px 100px 15px 15px;
  overflow: hidden;
  margin: 0px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-bottom: 2.5rem;
}

.cervezas .cervezasCard::before {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.cervezas .cervezasCard::after {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.cervezas .cervezasCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.cervezas .cervezasCard .cervezas__items1 {
  background: url(../img/rubio.jpg) no-repeat;
  min-height: 190px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.cervezas .cervezasCard .cervezas__items2 {
  background: url(../img/red.jpg) no-repeat;
  min-height: 190px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.cervezas .cervezasCard .cervezas__items3 {
  background: url(../img/negra.jpg) no-repeat;
  min-height: 190px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.cervezas .cervezasCard .cervezas__items4 {
  background: url(../img/mixbirra.jpg) no-repeat;
  background-position: right;
  min-height: 190px;
  -webkit-filter: scale(1.05);
          filter: scale(1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.cervezas .cervezasCard h2 {
  text-align: center;
}

/* pag contacto */
#formulario .titulos {
  text-align: center;
  margin-top: 50px;
}

#formulario div h2 {
  font-size: 27px;
  padding-bottom: 7px;
}

#formulario div h3 {
  font-size: 22px;
  padding-bottom: 12px;
  margin-top: 20px;
}

#contenidoformulario {
  width: 283px;
  height: 854px;
  margin: 33px auto;
  border-radius: 30px;
  padding-top: 40px;
  padding-left: 44px;
  padding-right: 36px;
  background-image: url(../img/unnamed.jpg);
  background-size: cover;
  background-position: center;
  color: black;
  text-shadow: black;
  font-size: 23px;
  text-align: left;
  font-weight: bold;
}

#contenidoformulario input {
  background-color: #0f0e0c;
  color: #a8a8a8;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border-width: 1px;
  padding-left: 10px;
  margin-bottom: 12px;
  display: block;
  font-size: 20px;
  text-align: center;
}

#contenidoformulario textarea {
  background-color: #0f0e0c;
  color: #a8a8a8;
  width: 200px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 26px;
  font-size: 20px;
  display: block;
  text-align: center;
}

#contenidoformulario label {
  display: inline;
  text-align: left;
  padding-right: 10px;
}

#contenidoformulario select {
  background-color: #0f0e0c;
  color: #a8a8a8;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  margin-top: 17px;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

#contenidoformulario #checkbox {
  width: 35px;
  margin-left: 167px;
  margin-top: -52px;
}

#contenidoformulario p {
  margin-bottom: 0px;
  margin-top: 36px;
  font-weight: bold;
}

.botones button {
  width: 200px;
  height: 39px;
  padding-left: 13px;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-top: 39px;
}

.contenidomodal {
  background-color: #d6951c;
}

.contenidomodal .titulo {
  font-size: 30px;
  font-weight: bold;
}

.contenidomodal .cuerpo {
  font-size: 25px;
  text-align: center;
}

.final img {
  width: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 72px;
}

/* RESPONSIVE CSS */
@media (min-width: 375px) {
  #grid-container {
    -ms-grid-rows: 4.5rem 12rem 8.5rem 86.5rem auto;
        grid-template-rows: 4.5rem 12rem 8.5rem 86.5rem auto;
  }
  /* pag-sucursales */
  .sucursales .sucursalesCard .direccion {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  #ubicaciones div {
    margin-top: -36px;
    margin-bottom: -7px;
  }
  #ubicaciones iframe {
    width: 108px;
    height: 92px;
  }
  /* pag-menu */
  .menu .menuCard .menu__items1, .menu .menuCard .menu__items2, .menu .menuCard .menu__items3, .menu .menuCard .menu__items4, .menu .menuCard .menu__items5 {
    min-height: 106px;
  }
  /* pag-bebidas */
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 174px;
  }
  /* pag-contacto */
  .final img {
    margin-bottom: 32px;
  }
}

@media (min-width: 425px) {
  #grid-container {
    -ms-grid-rows: 4.5rem 13rem 8.5rem 87rem auto;
        grid-template-rows: 4.5rem 13rem 8.5rem 87rem auto;
  }
  /* pag-menu */
  .menu .menuCard .menu__items1, .menu .menuCard .menu__items2, .menu .menuCard .menu__items3, .menu .menuCard .menu__items4, .menu .menuCard .menu__items5 {
    min-height: 112px;
  }
  /* pag-bebidas */
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 182px;
  }
}

@media (min-width: 728px) {
  #grid-container {
    -ms-grid-rows: 5.8rem 25rem 13.5rem 62.7rem auto;
        grid-template-rows: 5.8rem 25rem 13.5rem 62.7rem auto;
  }
  /* index-navegacion */
  .lachoppera .lacho {
    font-size: 45px;
  }
  .lachoppera .nave {
    text-align: right;
    margin: auto;
  }
  .lachoppera .nave .solo {
    font-size: 26px;
  }
  .lachoppera .nave .navegacion {
    font-size: 26px;
  }
  .navbar-light .navbar-nav .nav-link.active {
    color: black;
  }
  /* carrousel */
  .carousel {
    margin-top: 5rem;
  }
  /* horarios */
  #horarios .titulo {
    text-align: center;
    font-size: 49px;
    margin: 20px;
  }
  #horarios .titulos {
    font-size: 23px;
  }
  #horarios td {
    font-size: 20px;
    padding: 1px 10px;
    text-align: center;
  }
  .featurette-heading {
    font-size: 50px;
    text-align: left;
  }
  .lead {
    text-align: left;
    font-size: 1.25rem;
  }
  .lugar img {
    width: 290px;
    height: 270px;
    padding-right: 30px;
  }
  .lugares img {
    width: 290px;
    height: 270px;
    padding-right: 30px;
  }
  footer {
    margin-top: 10px;
  }
  footer .footerA {
    width: 70px;
  }
  footer .footerA .logofooter {
    margin-top: 25px;
  }
  footer .footerA .redes {
    gap: 13px;
  }
  footer .linea {
    border-right: 1px solid #6c757d;
    height: 6rem;
  }
  footer .footerB {
    margin-top: 18px;
  }
  footer .footerC {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #footercopyright p {
    font-size: 0.6rem;
    margin-top: 10px;
    text-align: center;
  }
  /* sucursales-pag */
  #locales .ubication img {
    width: 6rem;
  }
  #locales h1 {
    font-size: 47px;
  }
  .sucursales .sucursalesCard .sucursales__items1, .sucursales .sucursalesCard .sucursales__items2, .sucursales .sucursalesCard .sucursales__items3 {
    min-height: 225px;
  }
  .sucursales .sucursalesCard .direccion {
    text-align: left;
    margin-top: 3.5rem;
  }
  #ubicaciones div {
    margin-top: -24px;
    margin-bottom: 14px;
  }
  #ubicaciones iframe {
    width: 183px;
    height: 123px;
  }
  /* menu-pag */
  #comida .ubication img {
    width: 6rem;
  }
  #comida h1 {
    font-size: 47px;
  }
  .menu .menuCard .menu__items1, .menu .menuCard .menu__items2, .menu .menuCard .menu__items3, .menu .menuCard .menu__items4, .menu .menuCard .menu__items5 {
    min-height: 142px;
  }
  .menu .menuCard .alimento {
    text-align: left;
    margin-top: 1.5rem;
  }
  /* bebidas -pag */
  #bebidas .ubication img {
    width: 6rem;
  }
  #bebidas h1 {
    font-size: 47px;
  }
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 202px;
  }
  .cervezas .cervezasCard .birra {
    text-align: center;
    margin-top: 2.5rem;
  }
  /* contacto-pag */
  #formulario .titulos {
    margin-top: -34px;
  }
  #formulario div h2 {
    font-size: 49px;
    margin-bottom: 0px;
  }
  #formulario div h3 {
    font-size: 32px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  #contenidoformulario {
    width: 410px;
    height: 728px;
    margin: 17px auto;
    padding-top: 15px;
    font-size: 29px;
  }
  #contenidoformulario input {
    width: 290px;
    height: 43px;
    padding-left: 3px;
    margin-bottom: 5px;
  }
  #contenidoformulario textarea {
    width: 290px;
    font-size: 20px;
  }
  #contenidoformulario label {
    padding-right: 34px;
  }
  #contenidoformulario select {
    width: 183px;
    height: 45px;
  }
  #contenidoformulario p {
    margin-bottom: -22px;
  }
  #contenidoformulario #checkbox {
    margin-left: 286px;
    margin-top: -42px;
  }
  #contenidoformulario .oracion {
    margin-top: 0px;
    display: inline-block;
  }
  .botones button {
    width: 290px;
    height: 40px;
    padding-left: 14px;
    margin-top: 17px;
    margin-left: 25px;
  }
  .final img {
    width: 113px;
    margin-bottom: 11px;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  #grid-container {
    -ms-grid-rows: 6.8rem 32rem 14.2rem 63.5rem auto;
        grid-template-rows: 6.8rem 32rem 14.2rem 63.5rem auto;
  }
  .lachoppera .lacho {
    font-size: 55px;
  }
  .lachoppera .nave {
    padding-left: 27rem;
  }
  .lachoppera .nave .solo {
    font-size: 30px;
  }
  .lachoppera .nave .navegacion {
    font-size: 30px;
  }
  /* horarios */
  #horarios .titulo {
    font-size: 49px;
    margin: 20px;
  }
  #horarios .titulos {
    font-size: 33px;
  }
  #horarios td {
    font-size: 23px;
  }
  .lead {
    font-size: 1.7rem;
  }
  footer .footerA .logofooter {
    margin-top: 25px;
    width: 80px;
  }
  footer .footerA .redes {
    gap: 17px;
  }
  footer .footerA .redes img {
    height: 27px;
  }
  footer .footerB {
    margin-top: 18px;
    font-size: 18px;
  }
  /* sucursales-pag */
  #locales .ubication img {
    width: 10rem;
  }
  #locales h1 {
    font-size: 55px;
  }
  .sucursales .sucursalesCard .sitio {
    font-size: 45px;
  }
  .sucursales .sucursalesCard .sucursales__items1, .sucursales .sucursalesCard .sucursales__items2, .sucursales .sucursalesCard .sucursales__items3 {
    min-height: 208px;
  }
  .sucursales .sucursalesCard .direccion {
    margin-top: 3.5rem;
    font-size: 35px;
  }
  #ubicaciones iframe {
    width: 420px;
    height: 106px;
  }
  /* menu-pag */
  #comida .ubication img {
    width: 9rem;
  }
  #comida h1 {
    font-size: 55px;
  }
  .menu .menuCard .menu__items1, .menu .menuCard .menu__items2, .menu .menuCard .menu__items3, .menu .menuCard .menu__items4, .menu .menuCard .menu__items5 {
    min-height: 136px;
  }
  .menu .menuCard .alimento {
    margin-top: 0.5rem;
    font-size: 35px;
  }
  /* bebidas-pag */
  .cervezas .cervezasCard .cervezas__items1, .cervezas .cervezasCard .cervezas__items2, .cervezas .cervezasCard .cervezas__items3, .cervezas .cervezasCard .cervezas__items4 {
    min-height: 207px;
  }
  /* contactos-pag */
  .final img {
    width: 121px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}

@media (min-width: 1440px) {
  #grid-container {
    -ms-grid-rows: 7rem 42.3rem 15rem 63.5rem auto;
        grid-template-rows: 7rem 42.3rem 15rem 63.5rem auto;
  }
}
/*# sourceMappingURL=styles.css.map */