* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
	text-decoration: none;
	list-style: none;
	outline: none;
	font-family: 'Oswald', sans-serif;
}
@import 'vars';

#grid-container {
	overflow: hidden;
	display: grid;
	grid-template-rows: 4.5rem 8.5rem 10.5rem 90.3rem auto;
	grid-template-areas: 
	"header" 
	"banner" 
	"encabezado" 
	"contenido" 
	"footer";
}
header {
	grid-area: header;
}
.lachoppera {
	margin-top: 0px;
	background-color: #dbca34;
	.lacho {
		color: black;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.botellas {
		background-image: url(../img/iconomenu2.png);
	}
	.nave {
		display: flex;
		margin-right: 8px;
		.navegacion {
			font-size: 20px;
			color: black;
			text-align: right;
			&:hover{
				color:orangered;
				text-decoration: overline;
			}
		}
	}
}
.carrousel {
	grid-area: banner;
	margin-bottom: 1rem;
	min-height: 100%;
    margin-top: 4rem;
	background-size: cover;
}
body {
	background-color: rgb(15, 14, 12);
	color: #a8a8a8;
}
#horarios {
	grid-area: encabezado;
	.titulo {
		padding: 3px;
		text-align: center;
		font-size: 27px;
	}
	.tabla {
		margin: auto;
		border: 1.5px solid #a8a8a8;
		letter-spacing: 0,5px;
		margin-top: 1px;
		margin-bottom: 20px;
		border-collapse: none;
	}
	.titulos {
		font-size: 11px;
		padding: 4px;
		text-align: center;
	}
	td {
		font-size: 9px;
		padding: 1px;
		text-align: center;
	}
}
.container-marketing {
	grid-area: contenido;
}
.featurette-divider {
	margin: 2rem 0;
}
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
	text-align: center;
}
.lead{
	text-align: center;
}
.lugar {
	&:hover {
		transform: scale(1.05);					
		filter:grayscale(1);
	}
	&::before {
		transition: .5s;
	}
	&::after {
		transition: .5s;
	}
	img {
		display: flex;
		width: 300px;
		height: auto;
		margin: auto;
	}
}
.lugares {
	&:hover {
		transform: scale(1.05);					
		filter:grayscale(1);
	}
	&::before {
		transition: .5s;
	}
	&::after {
		transition: .5s;
	}
	img {
		display: flex;
		width: 300px;
		height: auto;
		margin: auto;
	}
}
footer {
	grid-area: footer;
	margin-bottom: 0px;
	margin-top: 10px;
	.footerA { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	text-align: center;
	margin-bottom: 0.5rem;
		.logofooter {
		width: 60px;
		height: auto;
		padding-bottom: 1px;
		}
		.redes {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
			gap: 40px;
		}
		.redes img{
			height: 20px;
			text-decoration: none;
			margin-top: 20px;
			margin-bottom: 9px;
		}
	}
	.footerB { 
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: nowrap;
		padding-left: 0px;
		& a {
			text-decoration: none;
			color: $colorTexto2;
			padding-top: 1px;
		}
		& a:hover{
			color:tomato;
		}
	}
}
#footercopyright p {
		font-size: 0.6rem;
		margin-top: 10px;
		text-align: center;
	}
/* pag-sucursales */
.bannersucursales{
	grid-area: banner;
	background-image: url(../img/pizarra.jpg);
	@include banner;
	background-position: center;
}
#locales {
	grid-area: encabezado;
	.ubication img{
		@include iconopaginas;
	}
	h1 {
		@include titulopaginas;
		font-size: 37px;
		margin-bottom: -55px;
	}
}
.sucursales{
	grid-area: contenido;
	.sucursalesCard {
			border: 1px solid #a8a8a8;
			border-radius: 100px 15px 100px;
			overflow: hidden;
			margin: 0px;
			transition: .5s;
		&::before {
			position: absolute;
			transition: .5s;
			}
		&::after {
			position: absolute;
			transition: .5s;
		}
		&:hover {
		transform: scale(1.05);
		}
		.sucursales__items1 {
			background: url(../img/tipos.jpg) no-repeat;
			@include sucursalesitem;
		}
			&:hover {
				filter:grayscale(1);
			}
		.sucursales__items2 {
			background: url(../img/palermo.jpg) no-repeat;
			@include sucursalesitem;	
		}
		.sucursales__items3 {
			background: url(../img/puertomadero.jpg) no-repeat;
			@include sucursalesitem;	
		}
		.sitio {
			font-size: 35px;
			font-weight: 1500;
		}
		.direccion {
			margin-bottom: 2.1rem;
			margin-top: 2.5rem;
			h2 {
				text-align: center;
			}
		}
	}
}
#ubicaciones {
	div {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-top: -37px;
	}
	iframe {
		margin: 5px;
		width: 90px;
		height: 71px;
	}
}
/* pag-menu */
.bannermenu{
	grid-area: banner;
	background-image: url(../img/promocomida.jpg);
	@include banner;
}
#comida {
	grid-area: encabezado;
	.ubication img{
		@include iconopaginas;
	}
	h1 {
		@include titulopaginas;
		font-size: 37px;
		margin-bottom: -62px;
	}
}
.menu{
	grid-area: contenido;
	margin-top: 1.9rem;
	.menuCard {
			border: 1px solid #a8a8a8;
			border-radius: 100px 15px 15px 15px;
			overflow: hidden;
			margin: 0px;
			transition: .5s;
			margin-bottom: 2.5rem;
		&::before {
			position: absolute;
			transition: .5s;
			}
		&::after {
			position: absolute;
			transition: .5s;
		}
		&:hover {
			transform: scale(1.05);
			filter:grayscale(1);
		}
		.menu__items1 {
			background: url(../img/hamburguesa.jpg) no-repeat;
			@include menuitem;
		}
		.menu__items2 {
			background: url(../img/papas-fritas-periplo.jpg) no-repeat;
			@include menuitem;	
		}
		.menu__items3 {
			background: url(../img/picadas.jpg) no-repeat;
			@include menuitem;
		}
		.menu__items4 {
			background: url(../img/mixbaston.jpg) no-repeat;
			@include menuitem;
		}
		.menu__items5 {
			background: url(../img/bebidas.jfif) no-repeat;
			@include menuitem; 
		}
			.boton {
				display: flex;
				background-color: #dbca34;
				text-decoration: none;
				border-radius: 5px;
				font-size: 21px;
				color: black;
				padding: 5px;
				justify-content: center;
				margin-bottom: 5px;
			}
		h2 {
			text-align: center;
		}
	}
}
/* pag-cervezas */
.bannerbebidas{
	grid-area: banner;
	background-image: url(../img/vaasocerveza.jpg);
	@include banner;
}
#bebidas {
	grid-area: encabezado;
	.ubication img{
		@include iconopaginas;
	}
	h1 {
		@include titulopaginas;
		font-size: 37px;
		margin-bottom: -51px;
	}
}
.cervezas{
	grid-area: contenido;
	margin-top: 2rem;
	.cervezasCard {
			border: 1px solid #a8a8a8;
			border-radius: 15px 100px 15px 15px;
			overflow: hidden;
			margin: 0px;
			transition: .5s;
			margin-bottom: 1.78rem;
		&::before {
			position: absolute;
			transition: .5s;
			}
		&::after {
			position: absolute;
			transition: .5s;
		}
		&:hover {
			transform: scale(1.05);
			filter:grayscale(1);
		}
		.cervezas__items1 {
			background: url(../img/rubio.jpg) no-repeat;
			@include cervezaitem;
		}
		.cervezas__items2 {
			background: url(../img/red.jpg) no-repeat;
			@include cervezaitem;	
		}
		.cervezas__items3 {
			background: url(../img/negra.jpg) no-repeat;
			@include cervezaitem;
		}
		.cervezas__items4 {
			background: url(../img/shots.jpg) no-repeat;
			background-position: right;
			@include cervezaitem;
		}
		h2 {
			text-align: center;
		}
	}
}
/* pag-contacto*/
#grid-container2 {
	overflow: hidden;
	display: grid;
	grid-template-rows: 4.5rem 10.5rem 10.5rem 64.1rem auto;
	grid-template-areas: 
	"header" 
	"banner" 
	"encabezado" 
	"contenido" 
	"footer";
}
.bannercontactos{
	grid-area: banner;
	background-image: url(../img/viva.jpg);
	background-position: center;
	@include banner;
}
#formcont {
	grid-area: encabezado;
	.ubication img{
		@include iconopaginas;
	}
	h1 {
		@include titulopaginas;
		font-size: 34px;
		margin-bottom: -62px;
	}
}
.titulos {
	text-align: center;
	margin-top: 48px;
		h2 {
			font-size: 22px;
			padding-bottom: 12px;
		}
}
#contenidoformulario {
	grid-area: contenido;
	width: 283px;
	height: 854px;
	margin: 33px auto;
	border-radius: 30px;
	padding-top: 40px;
	padding-left: 44px;
	padding-right: 36px;
	background-image: url(../img/unnamed.jpg);
	background-size: cover;
	background-position: center;
	color: black;
	text-shadow: black;
	font-size: 23px;
	text-align: left;
	font-weight: bold;
	input {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		height: 35px;
		border-radius: 10px;
		border-width: 1px;
		padding-left: 10px;
		margin-bottom: 12px;
		display: block;
		font-size: 20px;
		text-align: center;
	}
	textarea {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		border-radius: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 26px;
		font-size: 20px;
		display: block;
		text-align: center;
	}
	label {
		display: inline;
		text-align: left;
		padding-right: 10px;
	}
	select {
		background-color: rgb(15, 14, 12);
		color: #a8a8a8;
		width: 200px;
		height: 35px;
		border-radius: 10px;
		margin-top: 17px;
		padding-left: 10px;
		margin-bottom: 5px;
		font-size: 17px;
		text-align: center;
		display: inline-block;
		cursor: pointer;
	}
	#checkbox {
		width: 35px;
		margin-left: 167px;
		margin-top: -52px;
	}
	p {
		margin-bottom: 0px;
		margin-top: 36px;
		font-weight: bold;
	}
}
.botones {
	button {
		width: 200px;
		height: 39px;
		padding-left: 13px;
		margin-bottom: 12px;
		margin-left: 5px;
		margin-top: 39px;
		background-color: whitesmoke;
		border: 2px solid rgb(15, 14, 12);
	}
}
.contenidomodal {
	background-color: rgb(214, 149, 28);
	.titulo {
		font-size: 30px;
		font-weight: bold;
	}
	.cuerpo {
		font-size: 25px;
		text-align: center;
	}
}

/* RESPONSIVE CSS */

@media (min-width: 375px) {
	#grid-container {
		grid-template-rows: 4.5rem 9.8rem 10.5rem 83.3rem auto;
	}
	/* pag-sucursales */
	.sucursales .sucursalesCard .direccion {
		margin-bottom: 0.5rem;
		margin-top: 1.4rem;
	}
	#ubicaciones {
		div {
			margin-top: -36px;
			margin-bottom: -7px;
		}
		iframe {
			width: 108px;
			height: 92px;
		}
	}
	/* pag-menu */
	.menu{
		.menuCard{
			.menu__items1, .menu__items2, .menu__items3, .menu__items4, .menu__items5 {
				min-height: 115px;
			}
		}
	}
	/* pag-cervezas */
	.cervezas{
		.cervezasCard{
			.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
				min-height: 181px;
			}
		}
	}
}
@media (min-width: 425px) {
	#grid-container {
		grid-template-rows: 4.5rem 11rem 11.5rem 83.5rem auto;
	}
	/* pag-index */
	#horarios {
		.titulo {
			font-size: 30px;
		}
		.titulos {
			font-size: 15px;
		}
		td {
			font-size: 12px;
		}
	}
	/* pag-sucursales */
	#locales h1 {
		font-size: 50px;
	}
	#ubicaciones {
		iframe {
			height: 93px;
		}
	}
	/* pag-menu */
	#comida h1 {
		font-size: 50px;
	}
	.menu{
		.menuCard{
			.menu__items1, .menu__items2, .menu__items3, .menu__items4, .menu__items5 {
				min-height: 121px;
			}
		}
	}
	/* pag-cervezas */
	#bebidas h1 {
		font-size: 50px;
	}
	.cervezas{
		.cervezasCard{
			.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
				min-height: 188px;
			}
		}
	}
	/* pag-contactos */
	#formcont h1 {
		font-size: 39px;
	}
	.titulos h2{
			font-size: 25px;
			padding: 12px;
	}
	#contenidoformulario {
		height: 835px;
	}
}
@media (min-width: 537px) {
	#grid-container {
		grid-template-rows: 4.5rem 11rem 10.1rem 86rem auto;
	}
	footer {
	margin-top: 10px;
		.footerA { 
			width: 70px;
				.logofooter {
					width: 70px;
					margin-top: 18px;
				}
				.redes {
					gap: 23px;
				}
		}
		.linea {
			border-right:  1px solid #6c757d;
			height: 6rem;
		}
		.footerB { 
			margin-top: 18px;
		}
		.footerC {
			margin-bottom: 0px;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: nowrap;
		}
	}
	#footercopyright p{
		font-size: 0.6rem;
		margin-top: 10px;
		text-align: center;
	}
}
@media (min-width: 768px) {
	#grid-container {
		grid-template-rows: 5.8rem 20rem 13.5rem 62.7rem auto;
	}
	/* index-navegacion */
	.lachoppera {
		.links{
			padding-right: 0px;
		}
		.lacho {
			font-size: 45px;
		}
		.link {
			justify-content: flex-end;
		}
		.nave .navegacion {
			font-size: 26px;
			padding: 7px;
		}
	}
	/* horarios */
	#horarios {
		.titulo {
			text-align: center;
			font-size: 49px;
			margin: 20px;
		}
		.titulos {
			font-size: 23px;
		}
		td {
			font-size: 20px;
			padding: 1px 10px;
			text-align: center;
		}
	}
	.featurette-heading {
		font-size: 50px;
		text-align: left;
	}
	.lead {
		text-align: left;
		font-size: 1.25rem;
	}
	.lugar {
		img {
			width: 290px;
			height: 270px;
			padding-right: 30px;
		}
	}
	.lugares {
		img {
			width: 290px;
			height: 270px;
			padding-right: 30px;
		}
	}
	/* pag-sucursales */
	#locales {
		.ubication img{
			width: 6rem;
		}
		h1 {
			font-size: 47px;
		}
	}
		.sucursales{
			.sucursalesCard{
				.sucursales__items1, .sucursales__items2, .sucursales__items3 {
					min-height: 225px;
				}
			  	.direccion {
					text-align: left;
					margin-top: 3.5rem;
				}
			}
		}
		#ubicaciones {
			div {
				margin-top: -24px;
				margin-bottom: 14px;
			}
			iframe {
				width: 216px;
				height: 134px;
			}
		}
	/* pag-menu */
	#comida {
		.ubication img{
			width: 6rem;
		}
		h1 {
			font-size: 47px;
		}
	}
	.menu {
		.menuCard {
			h2{
				padding: 2px;
				padding-bottom: 11px;
			}
			.alimento {
				text-align: left;
				margin-top: 1.5rem;
			}
		}
	}
	/* pag-cervezas */
	.bannerbebidas{
		background-position: right;
	}
	#bebidas {
		.ubication img{
			width: 6rem;
		}
		h1 {
			font-size: 47px;
		}
	}	
	.cervezas {
		.cervezasCard {
			.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
				min-height: 213px;
			}
			.birra {
				text-align: center;
				margin-top: 2.5rem;
			}
		}
	}
	/* pag-contacto */
	#grid-container2 {
		grid-template-rows: 5.8rem 20rem 13.5rem 52.1rem auto;
	}
	#formcont h1{ 
		font-size: 47px;
	}
	.titulos h2{
		font-size: 30px;
	}
	#formulario {
		.titulos {
			margin-top: -34px;
		}
		div {
			h2 {
				font-size: 49px;
				margin-bottom: 0px;
			}
			h3 {
				font-size: 32px;
				padding-bottom: 0px;
				margin-top: 0px;
			}
		}
	}
	#contenidoformulario {
		width: 410px;
		height: 739px;
		margin: 17px auto;
		padding-top: 25px;
		font-size: 29px;
		input {
			width: 316px;
			height: 43px;
			padding-left: 3px;
		}
		textarea {
			width: 316px;
			font-size: 20px;
		}
		label {
			padding-right: 34px;
		}
		select {
			width: 205px;
			height: 45px;
		}
		p {
			margin-bottom: -22px;
		}
		#checkbox {
			margin-left: 286px;
			margin-top: -42px;
		}
		.oracion {
			margin-top: -22px;
			display: inline-block;
		}
	}
	.botones {
		button {
			width: 290px;
			height: 40px;
			padding-left: 14px;
			margin-top: 17px;
			margin-left: 25px;
		}
	}
	.final {
		img {
			width: 113px;
			margin-bottom: 11px;
			margin-top: 0px;
		}
	}
}
@media (min-width: 977px) {
	#grid-container {
		grid-template-rows: 5.8rem 20rem 13.5rem 66.3rem auto;
	}
	/* pag-sucursales */
	.sucursales{
		.sucursalesCard{
			.sucursales__items1, .sucursales__items2, .sucursales__items3 {
				min-height: 244px;
			}
		}
	}
	/* pag-cervezas */
	.cervezas {
		.cervezasCard {
			.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
				min-height: 227px;
			}
		}
	}
}
@media (min-width: 992px) {
	#grid-container {
		grid-template-rows: 5.8rem 20rem 13.5rem 62.3rem auto;
	}
		/* pag-sucursales*/
		.sucursales{
			.sucursalesCard{
				.sucursales__items1, .sucursales__items2, .sucursales__items3 {
					min-height: 223px;
				}
			}
		}
		/* pag-cervezas */
		.cervezas {
			.cervezasCard {
				.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
					min-height: 211px;
				}
			}
		}
}
@media (min-width: 1024px) {
	#grid-container {
		grid-template-rows: 6.3rem 27rem 18.2rem 58.9rem auto;
	}
	.lachoppera {
		.lacho {
			font-size: 50px;
		}
		.nave .navegacion {
			font-size: 30px;
		}
	}
	/* horarios */
	#horarios {
		.titulo {
			font-size: 52px;
			margin-bottom: 43px;
		}
		.titulos {
			font-size: 29px;
		}
		td {
			font-size: 27px;
			padding: 1px 10px;
		}
	}
	.lead{
		font-size: 1.7rem;
	}
	.lugar {
		img {
			padding-right: 0px;
		}
	}
	footer {
		margin-top: 10px;
		.footerA .redes{ 
			gap: 23px;
			height: 37px;
		}
		.linea {
			border-right:  1px solid #6c757d;
			height: 6rem;
		}
		.footerB { 
			margin-top: 18px;
			font-size: 18px;
		}
	}
	/* pag-sucursales */
		#locales {
			.ubication img {
				width: 8rem;
			}
			h1 {
				font-size: 55px;
			}
		}
		.sucursales {
			.sucursalesCard {
				.sitio {
					font-size: 45px;
				}
				.sucursales__items1, .sucursales__items2, .sucursales__items3 {
					min-height: 222px;
				}
				.direccion {
				margin-top: 3.5rem;
				font-size: 35px;
				}
			}
		}
		#ubicaciones {
			iframe {
				width: 312px;
				height: 116px;
			}
		}
	/* pag-menu */
		#comida {
			.ubication img {
				width: 8rem;
			}
			h1 {
				font-size: 55px;
				margin-bottom: -30px;
			}
		}
		.menu {
			.menuCard {
				.menu__items1, .menu__items2, .menu__items3, .menu__items4, .menu__items5 {
					min-height: 136px;
				}
				.alimento {
				margin-top: 0.5rem;
				font-size: 30px;
				}
			}
		}
	/* pag-cervezas */
		#bebidas {
			.ubication img {
				width: 8rem;
			}
			h1 {
				font-size: 55px;
				margin-bottom: -30px;
			}
		}
			.cervezas {
				.cervezasCard {
					.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
						min-height: 201px;
					}
				}
			}
	/* pag-contactos */
		#grid-container2 {
			grid-template-rows: 6.3rem 27rem 18.2rem 52.1rem auto;
		}
		#formcont{
			.ubication img{
				width: 8rem;
			}
			h1 {
				font-size: 55px;
				margin-bottom: -71px;
			}
		}
		.titulos h2 {
			font-size: 40px;
		}
		.botones button {
			margin-left: 12px;
		}
}
@media (min-width: 1366px) {
	#grid-container {
		grid-template-rows: 6.3rem 35.3rem 16rem 61.5rem auto;
	} 
	/* pag-sucursales */
	.sucursales {
	 	.sucursalesCard {
			.sucursales__items1, .sucursales__items2, .sucursales__items3 {
				min-height: 225px;
			}
		}
	}
	/* pag-menu */
	.menu {
		.menuCard {
			.menu__items1, .menu__items2, .menu__items3, .menu__items4, .menu__items5 {
				min-height: 134px;
			}
		}
	}
	/* pag-cervezas */
	.cervezas {
		.cervezasCard {
			.cervezas__items1, .cervezas__items2, .cervezas__items3, .cervezas__items4 {
				min-height: 203px;
			}
		}
	}
	/* pag-contactos */
	#grid-container2 {
			grid-template-rows: 6.3rem 27rem 18.2rem 54.1rem auto;
	}
	#contenidoformulario{
		height: 744px;
		margin-bottom: 41px;
		}
}
@media (min-width: 1440px) {
	#grid-container {
		grid-template-rows: 6.3rem 37.3rem 18rem 59.5rem auto;
	} 
}
